  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  ul li a{
     text-transform: capitalize;
     text-decoration: none;
     font-size: 20px;
     font-weight: 600;
     color: red;
  }
  ul li a:hover{
      color: red!important;
      background:white;
      display: block;
      border: 1px ;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 600;
      transition: 0.5s;
  }
  /*////footer////*/
  .footer{
    height: 40px;
      line-height: 40px;
      font-size: 20px;
      font-weight: 500;
      margin-top: auto;
  }